<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi pariatur excepturi ad tempora adipisci. Placeat, at hic natus porro,
     ullam quidem accusantium veritatis voluptatibus sed animi voluptatum incidunt quos tempore?</p>

<button mat-raised-button
    color="warn"
    matTooltip="Add new default photo"
    aria-label="Button that displays a tooltip when focused or hovered over"
    (click)="addDefault()">
    Add Image
</button>

<hr>

<mat-grid-list cols="3" rowHeight="1:1">
    
    <mat-grid-tile *ngFor="let photo of photosArray" [class.active]="photo == selectedPhoto">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');"></div>
                <mat-card-title>
                    Photo n°{{photo.id}}
                </mat-card-title>
                <mat-card-subtitle>
                    Photo n°{{photo.id}}
                </mat-card-subtitle>
            </mat-card-header>
            <img [src]="photo.url" mat-card-image (click)="openDialog(photo)">
        </mat-card>
        
    </mat-grid-tile>

</mat-grid-list>
